body{
    color: white;
    margin: 150px;
    background-image: url(hatter.png);
}
a{
    color: #C0C0C0;
    font-style: oblique;
    text-align: right;
}
td{
    margin: 5pt;
    padding: 5pt;
}
table{
    width: 100pt;
    text-align: center;
}
span{
    font-weight: bold;
}
hr{
    width: 80%;
}